/*Mobile first layout*/
.wrapper{
    display: grid;
    /*content området ligger som 1fr för att det ska fyllas ut ordentligt*/
    grid-template-rows: auto auto 1fr auto;
    min-height: 98vh; /*container lite mindre än viewport för att ge mer plats åt footer*/
    background-color: blanchedalmond;
    border: 1px black solid;
}
header, footer{
    /*Centrerar element horisontellt*/
    display: flex;
    justify-content: center;
    border: 1px black solid;
    background-color: lightslategray;
}
/*Påverkar bara ul som child till nav*/
nav > ul, main > nav > ul{
    /*Vertikal meny*/
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;

    padding: 0;/*Tar bort standardpadding från listan*/
    margin: 0;/*Tar bort standardmargin från listan*/
}
nav > ul > li{
    display: flex;
    justify-content: center;
    padding: 1rem;
    border: 1px black solid;
}
main > article, main > section > article{
    /*Detta gäller primärt om man har bilder i article
    som på index och omoss*/
    display: flex;
    flex-direction: column;
}
img{
    /*Bilden är större i mobile för bättre användarupplevelse*/
    max-width: 50%;
    height: auto;
    padding-top: 1rem;
    margin: 0 auto; /*centrerar bilden*/
    align-self: center; /*hindrar att bilden förvrängs*/
}
/*Gäller främst idan omss*/
article,aside{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px black solid;
}

/*Gäller endast sidan artiklar*/
#artiklar main > nav{
    margin-top: 1rem;
}

/*För större enheter och desktop*/
@media (min-width: 600px){
    nav > ul{
        flex-direction: row;
        justify-content:space-evenly
    }
    nav > ul > li{
        /*Knapparna täcker hela wrappern*/
        width: 100%;
    }
    main > article, aside, main > section > article{
        display: flex;
        flex-direction: row;
        /*margin här skriver över tidigare värden satta för mobile*/
        margin: 1rem;
        /*kantlinje runt article enbart för desktop*/
        border: 1px black solid;
    }
    
    /*Dessa är för att snygga till avståndet mellan boxarna på Omoss-sidan*/
    main > article{
        margin-right: 0.5rem;
    }
    main > aside{
        margin-left: 0.5rem;
    }
    img{
        /*Bild lite mindre för att undvika känslan att
        den "tar över" i desktop view*/
        max-width: 25%;
        height: auto;
        padding: 2rem;
    }
    /*Gäller endast för Artiklar och Om oss*/
    #omoss main, #artiklar main{
        display: flex;
        flex-direction: row;
    }
    #artiklar main > nav{
        margin-top: 1rem;
        margin-right: 2rem;
    }
}